body {
  background-color: #000080;
  text-align: center;
}
label {
  color: white;
  font-weight: 600;
  font-size: 1.5em;
}
.list-item {
  cursor: pointer;
  width: min-content;
  color: white;
  text-decoration: underline;
}

.list-item:hover {
  color: red;
  text-decoration: line-through;
}